:root {
    --light-green: hsl(148, 38%, 91%);
    --custom-green: hsl(169, 82%, 27%);
    --custom-red: hsl(0, 66%, 56%);
    --medium-grey: hsl(186, 15%, 59%);
    --dark-grey: hsl(187, 24%, 22%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
    padding: 32px 0;
}

#form {
    background-color: white;
    width: 95%;
    padding: 24px;
}

footer {
    margin-top: 10px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: var(--custom-green);
    font-weight: bold;
}