@media only screen and (min-width: 768px) and (max-width: 1279px) {
    body {
        height: 100vh;
    }

    #form {
        width: 85%;
    }

    .radios-container {
        flex-direction: row;
    }
}